/* Основные стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

/* Формы и поля ввода */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="number"],
input[type="text"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 33.33%; /* Каждая колонка занимает треть таблицы */
}

th {
    background-color: #f8f8f8;
}

/* Оставшаяся сумма */
.remaining {
    text-align: center;
    margin-bottom: 20px;
}

/* Кнопки */
.buttons {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc0000;
}

/* Навигация */
nav {
    background-color: #ffffff;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: rgba(0, 123, 255, 0.1);
    color: #007BFF;
}

nav a i {
    font-size: 24px;
}

/* Активная ссылка в навигации */
nav a.active {
    color: #ff0000;
    font-weight: bold;
    text-decoration: underline;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    nav a i {
        font-size: 35px; /* Уменьшенный размер иконок на мобильных */
    }

    input[type="number"],
    input[type="text"] {
        width: 100%; /* Поля ввода занимают всю ширину */
    }

    .container {
        padding: 15px; /* Уменьшаем отступы для мобильных */
    }
}
